name: Deploy to EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          cd /home/ec2-user/FreeMobileApp/streamlit_app
          git pull origin main
          pip3 install -r requirements.txt --user --upgrade
          sudo systemctl restart streamlit
          sudo systemctl is-active streamlit && echo "✅ Déploiement réussi!" || echo "❌ Échec du déploiement"
